@import "./../../assets/styles/main.scss";

.detail-container {
    background: rgba(255, 255, 255, 0.5);
    border: 1px solid #FFFFFF;
    text-align: center;
    @include rem(margin-top, 18px);
    @include rem(padding, 15px);
    .text-title,
    .text-title-2 {
        font-weight: bold;
    }
    .text-title {
        @include rem(font-size, 36px);
        @include rem(line-height, 42px);
    }
    .text-title-2 {
        @include rem(font-size, 24px);
        @include rem(line-height, 28px);
        @include rem(margin-top, 22px);
    }
    .text-description {
        @include rem(font-size, 18px);
        @include rem(line-height, 21px);
        font-weight: normal;
    }
    .border-bottom {
        @include rem(padding-bottom, 9px);
        border-bottom: 1px solid #000000;
    }
    &.passengers {
        .border-bottom {
            @include rem(padding-bottom, 2px);
            @include rem(margin-bottom, 15px);
        }
    }
}